<style type="text/css">
html, body {
height: 70%;
}
#wrapper{height:40%;}
#footer{
	position:absolute;
	float:bottom;
	width:100%;
	height:50px;
	background:white;
	text-align:right;
	padding:0.4em 0 1.2em;
}
#footer li{
display:inline;
margin:0 1.3em;
font-size:small;
color:#111;
}
#footer a{
text-decoration:none;
}
#footer a:hover,a.active{
color:#FF5500;
text-decoration:underline;
}
a:visited {
color:#0044DD;
text-decoration:none;
}
#footer hr{
border-color:#D1D7DC #000000 #000000;
border-style:solid;
border-width:1px 0 0;
height:0;
}
</style>
<div id='wrapper'>
</div>
<div id='footer'>
<hr/>
<li>Powered by: <a href='http://www.scmbbs.com/cn/maia.php'>svnMaia 2.2.5</a></li>
</div>
